/* メインタイトルのアニメーション
=================================================== */
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#main-title {
    opacity: 0; // 初期は透明
    animation: fadeSlideIn 0.8s ease-out forwards;
}

/* カードのアニメーション
=================================================== */
@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card {
    opacity: 0;
    animation: slideIn 0.5s ease-out forwards;
    // 遅延は nth-child で
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: #{0.1 * $i}s;  
        }
    }
}

/* タスクアイテムのアニメーション
=================================================== */
@keyframes fadeSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* アニメーションを使うクラス */
.task-item.animate {
    animation-name: fadeSlideDown;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0; // 初期は透明
}