// font:
$gf-1: 'Noto Sans JP', 'Roboto', sans-serif;
$fs-title: 1.5rem;
$fs-main: 1rem;
$fs-sub: .75rem;

// color
$bg: #fff;
$tc: #333;
$hover-bg: #f0f0f0;

// content-box
$border: 1px solid #000;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.100);
$box-shadow-hover: 0 2px 8px rgba(0, 0, 0, 0.200);