<!-- タスク追加用フォーム ---------------------------------------->
<div id="task-modal" class="modal hidden">
    <form action="{{ url_for('add_task') }}" method="POST" class="modal-form">
        <input type="hidden" name="category_id" id="task-category-id">
        <h2 class="modal-title">Add Task</h2>
        <!-- カテゴリー選択のセレクトボックス
        <select name="category_id" required>
            <option class="select-box" value="" disabled selected>Select Category</option>
            {% if categories %}
                {% for id, name in categories.items() %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            {% endif %}
        </select>
        -->
        <input type="text" class="add-task-title" name="title" placeholder="Title" required>
        <textarea class="add-content-task" name="content" placeholder="Content" rows="4"></textarea>
        <div class="modal-btns">
            <button type="submit" class="modal-btn">Add</button>
            <button type="button" id="close-task-modal" class="modal-btn">Cancel</button>
        </div>
    </form>
</div>