<!-- カテゴリー追加用モーダル ---------------------------------------->
<div id="category-modal" class="modal hidden">
    <form action="{{ url_for('add_category') }}" method="post" class="modal-form">
        <h2 class="modal-title">New Category</h2>
        <input type="text" id="category_name" class="textbox-category" placeholder="Category Title" name="category_name" required>

        <div class="modal-btns">
            <button type="submit" class="modal-btn">Add</button>
            <button type="button" id="close-category-modal" class="modal-btn">Cancel</button>
        </div>
    </form>
</div>