<!-- タスク追加用フォーム ---------------------------------------->
<div id="task-modal" class="modal hidden">
    <form action="{{ url_for('add_task') }}" method="POST" class="modal-form">
        <select name="category_id" required>
            <option value="" disabled selected>カテゴリを選択</option>
            {% if categories %}
                {% for id, name in categories.items() %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <input type="text" name="title" placeholder="タイトル" required>
        <textarea name="content" placeholder="内容"></textarea>
        <button type="submit">タスク追加</button>
         <button type="button" id="close-task-modal">キャンセル</button>
    </form>
</div>