<!-- Admin ページ -->
{# admin.html #}
{% extends "base.html" %}

{% block title %}Admin - Todo-App{% endblock %}
{% block content %}
<!-- HEADER -->
<header>
    <h2 id="main-title">Admin Todo-App</h2>
</header>

<!-- MAIN CONTENTS -->
<section id="contents">
    <article class="cards">
        <!-- CATEGORY -->
        <div class="card">
            {% include "category.html" %}
        </div>    
        <!-- TASK -->    
        <div class="card">
            {% include "task.html" %}
        </div>
        <!-- PROGRESS -->
        <div class="card">
            {% include "progress.html" %}
        </div>
        <!-- ARCHIVE -->
        <div class="card">
            {% include "archive.html" %}
        </div>
    </article>
</section>
{% endblock %}

<!-- JavaScriptの読み込み -->
{% block scripts %}
    <script id="all-posts-data" type="application/json">
        {{ category_posts | tojson | safe }}
    </script>

    <!-- ユーティリティ関数（関数定義）を読み込む -->
    <script src="{{ url_for('static', filename='js/task_utils.js') }}" defer></script>

    <!-- 並び替え系 -->
    <script src="{{ url_for('static', filename='js/sortable.js') }}" defer></script>

    <!-- カテゴリ・タスク操作系 -->
    <script src="{{ url_for('static', filename='js/show_tables.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/delete.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/add.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/count_textarea.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/edit_task.js') }}" defer></script>
{% endblock %}