<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo-App{% endblock %}</title>

    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hankchizljaw/modern-css-reset@latest/dist/reset.min.css">

    <!-- CSSの読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    
    {% block content %}
    {% endblock %}

</body>
</html>
